<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Form</title>
    <link rel="stylesheet" href="login.css"> 

</head>
<body>

<%- include("../components/navbar") %>

<form action="/login" method="post">

    <input type="email" name="email" placeholder="Email">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

</body>
</html>
