<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Form</title>
    <link rel="stylesheet" href="login.css"> 

</head>
<body>

<%- include("../components/navbar") %>
<p style="color:green"><%- success %></p>

<form action="/login" method="post">
    <p style="color:red"><%- error %></p>
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <input type="submit" value="Login">
    <a href="/forgotPassword">Forgot Password ? </a>
</form>

</body>
</html>
