<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar and Form</title>
    <link rel="stylesheet" href="login.css"> 

</head>
<body>

<%- include("../components/navbar") %>

<form action="/verifyOtp" method="post">

    <input type="number" name="Otp" placeholder="Otp" required>
    <input type="submit" value="Verify Otp">
 
</form>

</body>
</html>
